<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='media/luca_media/favicon.ico')}}">
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>LucaPlex - {% block page_name %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="banner">
        <div class="logo">
            <a href="/"><p class="logo">LucaPlex</p></a>
        </div>
        {% if auth %}
            <div class="ui menu">

              <a class="item" style="color: aquamarine">
                Movies
              </a>
              <a class="item" style="color: aquamarine">
                Tv Shows
              </a>
              <div class="right menu">
                <div class="item">
                  <div class="ui icon input" style="color: black">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                  </div>
                </div>
                <a class="ui item" style="color: aquamarine" href="/logout">
                  Logout
                </a>
              </div>
            </div>
        {% endif %}



        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
    </div>

</body>
</html>