{% extends "base.html" %}

{% block page_name %}Landing{% endblock %}

{% block head %}
    <script src={{url_for('static', filename='auth.js')}}></script>
{% endblock %}

{% block content %}
    <div class="centered">
        <h1>Password</h1>
        
        <input id="password" type="Password" placeholder="Enter" name="password">
        <button class="ui button" onclick="auth_password()">Enter</button>
            
       
        <br>
        <p id="message_text"></p>
    </div>
{% endblock %}